@charset "UTF-8";
/**flexbox**/
/**les centres**/
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrej {
  display: flex;
  justify-content: center;
}

.centrea {
  display: flex;
  align-items: center;
}

/**les colonnes**/
.colcen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/**flex spacing**/
.around {
  display: flex;
  justify-content: space-around;
}

.between {
  display: flex;
  justify-content: space-between;
}

/**position et alignements**/
.alignstart {
  display: flex;
  align-self: flex-start;
}

.flexbetcen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**Identité visuelle**/
/**Backgrounds colors **/
/**Couleurs**/
/**margin**/
.ml {
  margin-left: 5%;
}

.ml2 {
  margin-left: 25px;
}

.ml3 {
  margin-left: 15px;
}

.mr1 {
  margin-right: 50px;
}

/**padding**/
.pad1 {
  padding: 1px 0px;
}

.pad2 {
  padding-top: 10px;
}

/**width and heigth**/
.widthhandshake {
  width: 14px;
}

/**général header**/
header {
  width: 100%;
}

/**Logo**/
.logo {
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bordurelogo {
  box-shadow: 0px 5px 5px -4px black;
}

/*paris belleville*/
.backgroundParis {
  background-color: #eaeaea;
  opacity: 90%;
}

.fontbel {
  margin: 3%;
  font-size: x-large;
}

.marginlocation {
  margin-left: 30%;
}

.divparis {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

/** reservation **/
.reservation {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
  background-color: #f2f2f2;
}
.reservation__titre {
  margin: 0px 5px;
}
.reservation__texte {
  margin-left: 5px;
  margin-right: 5px;
}
.reservation__button {
  box-shadow: 0px 7px 16px -7px #000000;
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  background-color: #FF79DA;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  border: none;
}
.reservation__button:hover {
  background: #a16be0;
  background: #ff93e1;
}

@media screen and (min-width: 800px) {
  .logo {
    width: 300px;
  }
  .fontbel {
    margin: 25px 25px;
  }
  .reservation {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .arrowlogo {
    margin-top: 10px;
  }
}
/**Identité visuelle**/
/**Backgrounds colors **/
/**Couleurs**/
/**Identité visuelle**/
/**Backgrounds colors **/
/**Couleurs**/
/**déclaration font**/
@font-face {
  font-family: "Shrikhand";
  src: url(/fonts/shrikhand/Shrikhand-Regular.ttf) format("TrueType");
}
@font-face {
  font-family: "Roboto Regular";
  src: url(/fonts/roboto/Roboto-Regular.ttf) format("TrueType");
}
/**Logo et titres**/
.policetitre {
  font-family: "Shrikhand";
}

/**polices et tailles de textes **/
p, .police {
  font-family: "Roboto Regular", serif;
}

/**flexbox**/
/**les centres**/
.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrej {
  display: flex;
  justify-content: center;
}

.centrea {
  display: flex;
  align-items: center;
}

/**les colonnes**/
.colcen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/**flex spacing**/
.around {
  display: flex;
  justify-content: space-around;
}

.between {
  display: flex;
  justify-content: space-between;
}

/**position et alignements**/
.alignstart {
  display: flex;
  align-self: flex-start;
}

.flexbetcen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**margin**/
.ml {
  margin-left: 5%;
}

.ml2 {
  margin-left: 25px;
}

.ml3 {
  margin-left: 15px;
}

.mr1 {
  margin-right: 50px;
}

/**padding**/
.pad1 {
  padding: 1px 0px;
}

.pad2 {
  padding-top: 10px;
}

/**width and heigth**/
.widthhandshake {
  width: 14px;
}

/**Footer**/
footer {
  width: 100%;
  background-color: #353535;
}

/**texte footer**/
.textfooter {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.textfooter--fontweight {
  font-weight: bold;
}
.textfooter--title {
  margin-top: 20px;
  margin-left: 25px;
  font-weight: 500;
}

.mail {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textfooter--title {
    display: flex;
    justify-content: center;
  }
  .textfooter {
    margin-left: 15px;
  }
  footer .ml2 {
    margin: 0px;
  }
}
/**main**/
main {
  width: 100%;
}

/**Fonctionnement **/
.bulles {
  background-color: #f2f2f2;
  width: 80%;
  margin: 0% 25px;
  border-radius: 20px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(66, 66, 66, 0.55);
  box-shadow: 0px 10px 10px -7px rgba(66, 66, 66, 0.55);
  padding-right: 25px;
}

.bulles2 {
  background-color: #f2f2f2;
  width: 80%;
  margin: 0% 25px;
  border-radius: 20px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(66, 66, 66, 0.55);
  box-shadow: 0px 10px 10px -7px rgba(66, 66, 66, 0.55);
  padding-right: 25px;
}

.bulles3 {
  background-color: #f2f2f2;
  width: 80%;
  margin: 0% 25px;
  border-radius: 20px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 10px 10px -7px rgba(66, 66, 66, 0.55);
  box-shadow: 0px 10px 10px -7px rgba(66, 66, 66, 0.55);
  padding-right: 25px;
}

.numberecart {
  margin-right: 5%;
  background-color: #9356DC;
  border-radius: 50px;
  width: 17px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-left: -7px;
}

.textbulles {
  margin: 25px 10px;
}

.bulles:hover {
  background-color: #F5EEF8;
}
.bulles:hover:hover > i {
  color: #9356DC;
}

.bulles2:hover {
  background-color: #F5EEF8;
}
.bulles2:hover:hover > i {
  color: #9356DC;
}

.bulles3:hover {
  background-color: #F5EEF8;
}
.bulles3:hover:hover > i {
  color: #9356DC;
}

@media screen and (min-width: 800px) {
  .fonctionnement {
    align-items: center;
  }
  .bulles {
    width: 700px;
    height: 80px;
  }
  .bulles2 {
    width: 700px;
    height: 80px;
  }
  .bulles3 {
    width: 700px;
    height: 80px;
  }
}
@media screen and (min-width: 1300px) {
  .fonctionnement {
    align-items: center;
  }
  .bulles {
    width: 1000px;
    height: 100px;
  }
  .bulles2 {
    width: 1000px;
    height: 100px;
  }
  .bulles3 {
    width: 1000px;
    height: 100px;
  }
}
/**restaurants**/
.restaurants {
  width: 100%;
  background-color: #f2f2f2;
}

.cardrestaurant {
  background-color: white;
  width: 90%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 16px -8px rgba(61, 61, 61, 0.83);
  box-shadow: 0px 10px 16px -8px rgba(61, 61, 61, 0.83);
}
.cardrestaurant__img {
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
}
.cardrestaurant__nouveau {
  display: flex;
  align-self: flex-end;
  position: absolute;
  margin-right: 20px;
  margin-bottom: 225px;
  background-color: #99e3d1;
  padding: 6px 10px;
  color: #018767;
  border-radius: 5px;
  font-weight: 600;
}
.cardrestaurant--heartcard {
  display: flex;
  align-self: flex-end;
  position: absolute;
  margin-top: 200px;
  margin-right: 30px;
}
.cardrestaurant--h4card {
  display: flex;
  align-self: flex-start;
  margin-bottom: 0px;
  margin-left: 20px;
}
.cardrestaurant--pcard {
  display: flex;
  align-self: flex-start;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 15px;
}
.cardrestaurant--placementcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardrestaurant .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.cardrestaurant:hover .fa-solid {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (min-width: 800px) and (max-width: 1490px) {
  .cardrestaurant {
    width: 360px;
  }
  .cardrestaurant--placementcards {
    flex-direction: row;
  }
  .listemenu1 {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1491px) {
  .cardrestaurant {
    width: 300px;
    margin: 20px;
  }
  .cardrestaurant--placementcards {
    flex-direction: row;
  }
  .listemenu1 {
    display: flex;
  }
  .listemenu2 {
    display: flex;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .cardrestaurant--placementcards {
    flex-direction: row;
  }
}
/**Identité visuelle**/
/**Backgrounds colors **/
/**Couleurs**/
/**Identité visuelle**/
/**Backgrounds colors **/
/**Couleurs**/
/**Menus**/
.greybackground {
  background-color: #f2f2f2;
}

/**header**/
.arrowlogo {
  position: absolute;
  margin-right: 300px;
  right: 0px;
  left: 20px;
  top: 25px;
  color: black;
}
.arrowlogo:hover {
  color: #9356DC;
}

/**main menu**/
.deliceimg {
  width: 100%;
  height: 300px;
}

.principal {
  background-color: #f2f2f2;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  margin-top: -55px;
}

.resto__title {
  margin-top: -28px;
}
.resto__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 28px 14px;
  position: relative;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
  border-radius: 25px 25px 0px 0px;
  background-color: #f2f2f2;
}
.resto__title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  opacity: 1;
  color: inherit;
  font-size: 30px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 400ms ease-in-out;
}
.resto__title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  opacity: 0;
  color: transparent;
  font-size: 30px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 400ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

/**Bulles menu**/
.bullemenu {
  display: flex;
  background-color: white;
  border-radius: 15px;
  width: 95%;
  margin-bottom: 15px;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.bullemenu__plat {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 10px;
}
.bullemenu__detail {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.bullemenu--textdetail {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
  padding-left: 10px;
}
.bullemenu--prix {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-right: 10px;
  margin-top: 10px;
}
.bullemenu__confirmation {
  background-color: #99E2D0;
  z-index: 4;
  min-width: 70px;
  height: 64.484px;
  border-radius: 0 15px 15px 0;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
.bullemenu:hover .bullemenu__confirmation {
  display: flex;
  -webkit-animation: slide-in-right 0.2s ease-out both;
  animation: slide-in-right 0.2s ease-out both;
}
.bullemenu__wrapIcon {
  background-color: white;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.bullemenu:hover .bullemenu__wrapIcon {
  transform: rotate(0);
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
.bullemenu__icon {
  color: #99E2D0;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.remplir {
  width: 100%;
}

/**button menu**/
.menubut {
  margin-top: 30px;
  margin-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
  width: 190px;
}

/**soulignement texte**/
.souligne {
  padding-bottom: 5px;
  width: 40px;
  border-bottom: solid #99E2D0;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .bullemenu {
    width: 650px;
  }
  .partitionmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .ml3 {
    margin: 0px;
  }
  .souligne {
    margin-left: 15px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1199px) {
  .partitionmenu {
    display: flex;
    width: 95%;
    margin: 0px 15px;
  }
  .bullemenu {
    width: 350px;
    margin: 0px 5px;
    height: 90px;
  }
  .bullemenu__confirmation {
    height: 100%;
  }
  .souligne {
    margin-left: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .wholesectionmenu {
    display: flex;
    justify-content: center;
  }
  .starter {
    margin-right: 50px;
  }
  .plats {
    margin-right: 50px;
  }
  .bullemenu {
    width: 350px;
    height: 80px;
  }
  .bullemenu__confirmation {
    height: 100%;
  }
}
/**Animation**/
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

/**slide in right confirmation menu **/
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**rotation confirmation menu**/
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**Loader**/
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: #9356DC;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 1s forwards;
  animation-delay: 2s;
}
.loader i {
  animation: spin 1s infinite;
}

/*# sourceMappingURL=style.css.map */
