/**Footer**/

footer {
    width: 100%;
    background-color: #353535;
}


/**texte footer**/

.textfooter {
    color: $white;
    margin-top: 10px;
    margin-bottom: 10px;
    &--fontweight {
        font-weight: bold;
    }
    &--title {
        margin-top: 20px;
        margin-left: 25px;
        font-weight: 500;
    }
}

@media screen and (min-width:800px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textfooter--title{
        display: flex;
        justify-content: center;
    }
    .textfooter{
        margin-left: 15px;
    }

    footer .ml2{
        margin: 0px;
    }
    
}