.loader {
position: fixed;
display: flex;
justify-content: center;
align-items: center;
background-color: #f2f2f2;
color: $color-primary;
height: 100vh;
inset: 0;
z-index: 1;
opacity: 0.9;
animation: disappear 1s forwards;
animation-delay: 2s;
    i{
        animation: spin 1s infinite;
    }
}

