@import '../Utils/mixins';
@import '../Utils/variables';


/**Menus**/

.greybackground {
    background-color: #f2f2f2;
}

/**header**/
.arrowlogo{
    position: absolute;
    margin-right: 300px;
    right: 0px;
    left: 20px;
    top: 25px;
    color: black;
    &:hover{
        color: #9356DC;
    }
}


/**main menu**/

.deliceimg {
    width: 100%;
    height: 300px;
}

.principal {
    background-color: $background-grey;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    margin-top: -55px;
    
    }


.resto__title {
        margin-top: -28px;
        h2 {
          font-family: "Shrikhand", "cursive";
          padding: 28px 14px;
          @include anim-coeur;
          border-radius: 25px 25px 0px 0px;
          background-color: $background-grey;
        }
}




/**Bulles menu**/

.bullemenu {
    display: flex;
    background-color: $white;
    border-radius: 15px;
    width: 95%;
    margin-bottom: 15px;
    animation: itemAppear .6s;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    transform: scale(0);
    
    &__plat {
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 600;
        padding-top: 10px;
        padding-left: 10px;
    }
    &__detail {
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    &--textdetail {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 14px;
        padding-left: 10px;
    }
    &--prix {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0px;
        padding-right: 10px;
        margin-top: 10px;
    }
    &__confirmation {
        background-color: $color-tertiary;
        z-index: 4;
        min-width: 70px;
        height: 64.484px;
        border-radius: 0 15px 15px 0;
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    &:hover &__confirmation {
        display: flex;
        -webkit-animation: slide-in-right 0.2s ease-out both;
        animation: slide-in-right 0.2s ease-out both;
    }
    
    &__wrapIcon {
        
        background-color: white;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;}
        
        
        
        &:hover &__wrapIcon {
            transform: rotate(0);
            -webkit-animation: rotate-center 0.6s ease-in-out both;
            animation: rotate-center 0.6s ease-in-out both;
        }
        
        &__icon {
            color: $color-tertiary;
        }
    }
    
    .card{
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
    }
    
    .remplir{
        width: 100%;
    }
    
    /**button menu**/
    
    .menubut {
        margin-top: 30px;
        margin-bottom: 60px;
        padding-left: 0px;
        padding-right: 0px;
        width: 190px;
    }
    
    
    /**soulignement texte**/
    
    .souligne {
        padding-bottom: 5px;
        width: 40px;
        border-bottom: solid $color-tertiary;
    }



    @media screen and (min-width:700px) and (max-width:900px) {
        .bullemenu{
            width: 650px;
        }
        .partitionmenu{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        main .ml3{
            margin: 0px;
        }
        .souligne{
            margin-left: 15px;
        }
    }

    @media screen and (min-width:901px) and (max-width:1199px) {
        .partitionmenu{
            display: flex;
            width: 95%;
            margin: 0px 15px;
        }
        .bullemenu{
            width: 350px;
            margin: 0px 5px;
            height: 90px;
        }
        .bullemenu__confirmation{
            height: 100%;
        }

        .souligne{
            margin-left: 5px;
        }
        /**Note enchanté spécial**/
        .partitionmenu1{
            display: flex;
            flex-wrap: wrap;
            
        }
        .partitionmenu1 .bullemenu{
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width:1200px) {
        .wholesectionmenu{
            display: flex;
            justify-content: center;
        }
        .starter{
            margin-right: 50px;
        }
        .plats{
            margin-right: 50px;
        }
        
        .bullemenu{
            width: 350px;
            height: 80px;
        }
        .bullemenu__confirmation{
            height: 100%;
        }
    }