/**flexbox**/


/**les centres**/

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centrej {
    display: flex;
    justify-content: center;
}

.centrea {
    display: flex;
    align-items: center;
}


/**les colonnes**/

.colcen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


/**flex spacing**/

.around {
    display: flex;
    justify-content: space-around;
}

.between {
    display: flex;
    justify-content: space-between;
}