/**margin**/

.ml {
    margin-left: 5%;
}

.ml2 {
    margin-left: 25px;
}

.ml3 {
    margin-left: 15px;
}

.mr1 {
    margin-right: 50px;
}


/**padding**/

.pad1 {
    padding: 1px 0px;
}

.pad2 {
    padding-top: 10px;
}


/**width and heigth**/

.widthhandshake {
    width: 14px;
}